textarea {
    min-height: 400px;
}

.main_email_div a {
    text-decoration: none;
    color: rgb(33, 37, 41);
}

.background-gray {
    background: gray;
}

.email_container:hover {
    cursor: pointer;
}
